.footer {
  flex-shrink: 0;
  background-color: #BC0308;
  color: #ffffff;
  padding: 32px 0;
  position: relative;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  gap: 48px;
}
.footer-requisites ul {
  list-style: none;
  column-count: 2;
  font-size: 14px;
  line-height: 1.4;
}
.footer-requisites li {
  margin-bottom: 8px;
  break-inside: avoid;
}
.footer-requisites p {
  font-weight: 600;
  margin-bottom: 16px;
}
.footer-social {
  display: flex;
  gap: 32px;
}
.footer-social a,
.social-icons a {
  color: #ffffff;
  font-size: 24px;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social a:hover {
  transform: translateY(-2px);
}
.rutube{
  width: 22px;
  height: 22px;
}
.social-icons {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.social-icons a {
  color: #ffffff;
  font-size: 24px;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  transform: translateY(-2px);
}
.footer-banner {
  width: 160px;
  height: 100px;
  object-fit: cover;
}
.KUI {
  max-width: 150px;
}
.QR-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.QR p {
  text-align: center;
  font-size: 20px;
}
.footer-QR {
  width: 160px;
  height: 160px;
  object-fit: cover;
}