.header {
  background: rgba(154, 0, 4, 0.7);
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px;
}
.burger-logo,.nav-links span{
  display: none;
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: translate(-50%, -50%) scale(1.05);
}
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100px;
  transition: all 0.3s ease;

}

.burger-menu {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1001;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
}
.burger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: black;
  transition: all 0.3s ease;
}
.burger-bar.open .burger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger-bar.open .burger-bar:nth-child(2) {
  opacity: 0;
}
.burger-bar.open .burger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


.nav-links {
  display: flex;
  gap: 32px;
  list-style: none;
  position: relative;
}
.nav-links.active {
  top: 100%;
  background: #BC0308;
  flex-direction: column;
}
.nav-item {
  position: relative;
  cursor: pointer;
}
.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: block;
  padding: 10px 0;
}
.link:hover {
  color: #fffacd;
}
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 220px;
  z-index: 1000;
  padding: 10px 0;
}
.dropdown-menu a {
  color: white;
  padding: 10px 16px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease;
}
.dropdown-menu a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.contact-info {
  display: flex;
  gap: 32px;
  align-items: center;
  font-size: 20px;
}
.contact-info a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}
.contact-info a:hover {
  color: #fffacd;
}