.sidebar{
    width: 282px;
    background-color: #BC0308;
    height: 100vh;
}
.admin-logo{
    width: 184px;
    height: 184px;
    margin: 0px 49px;
}
.nav-header{
    color: white;
    font-size: 24px;
}
.nav-header span{
    color: white;
    font-size: 28px;
    padding: 18px 28px;
}
.nav-item{
    padding: 18px 28px;
    cursor: pointer;
    font-weight: 400;
}
.nav-item:hover{
    background-color: #c0999a;
}
